{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<img src=" https://source.unsplash.com/1500x600/?about" class="img-fluid" alt="...">

<h1><p class="text-center">About us</p></h1>
<div class="container overflow-hidden text-center " </div>
    <div class="row gy-5 ">
      <div class="col-12">
        <div class="p-5 m-3 border-19  bg-dark text-white">Branches</div><a href="#">
      </div>
      <div class="col-12">
        <div class="p-5 m-3 border-19 bg-dark text-white">FAQ</div><a href="#">
      </div>
      <div class="col-12">
        <div class="p-5 m-3 border-19 bg-dark text-white">Review</div><a href="#">
      </div>
    </div>
  </div>
{% endblock body%}