{% extends 'base.html' %}

{% block title %}menu{% endblock title %}

{% block body %}
<div class="container overflow-hidden text-center bg-info">
  <div class="row gx-5 ">
    <div class="col">
     <div class="m-3 p-3 border bg-warning "><b> VEG 🥗</b></div>
    </div>
    <div class="col">
      <div class="m-3 p-3 border bg-warning"><b>NON-VEG 🍗</b></div>
    </div>
  </div>
</div>
<div class="container overflow-hidden text-center">
  <div class="row gx-5">
    <div class="col">
     <div class= "m-3 p-3 border bg-light">Veg Fried rice</div>
    </div>
    <div class="col">
      <div class="m-3 p-3 border bg-dark text-light">Chiken tikka</div>
    </div>
  </div>
</div>
<div class="container overflow-hidden text-center">
  <div class="row gx-5">
    <div class="col">
     <div class= " m-3 p-3 border bg-light">Veg-Chilli</div>
    </div>
    <div class="col">
      <div class="m-3 p-3 border bg-dark text-light">Chiken-lollipop</div>
    </div>
  </div>
</div>
<div class="container overflow-hidden text-center">
  <div class="row gx-5">
    <div class="col">
     <div class="m-3 p-3 border bg-light">Chana masala</div>
    </div>
    <div class="col">
      <div class="m-3 p-3 border bg-dark text-light">fish Biryani</div>
    </div>
  </div>
</div>
<div class="container overflow-hidden text-center">
  <div class="row gx-5">
    <div class="col">
     <div class="m-3 p-3 border bg-light">Dalmakhani</div>
    </div>
    <div class="col">
      <div class="m-3 p-3 border bg-dark text-light">korma</div>
    </div>
  </div>
</div>
<div class="container overflow-hidden text-center">
  <div class="row gx-5">
    <div class="col">
     <div class=m-3 "p-3 border bg-light">palak-paneer</div>
    </div>
    <div class="col">
      <div class="m-3 p-3 border bg-dark text-light">chiken chettinad</div>
    </div>
  </div>
</div>
<div class="container overflow-hidden text-center">
  <div class="row gx-5">
    <div class="col">
     <div class=m-3 "p-3 border bg-light">malai-kofta</div>
    </div>
    <div class="col">
      <div class="m-3 p-3 border bg-dark text-light">Tandoori-Chiken</div>
    </div>
  </div>
</div>
<div class="container overflow-hidden text-center">
  <div class="row gx-5">
    <div class="col">
     <div class="m-3 p-3 border bg-light">Pav-Bhaji</div>
    </div>
    <div class="col">
      <div class="m-3 p-3 border bg-dark text-light">mutton-curry</div>
    </div>
  </div>
</div>
<div class="container overflow-hidden text-center">
  <div class="row gx-5">
    <div class="col">
     <div class="m-3 p-3 border bg-light">kadai-Paneer</div>
    </div>
    <div class="col">
      <div class="m-3 p-3 border bg-dark text-light">chiken-65</div>
    </div>
  </div>
</div>
<div class="container overflow-hidden text-center">
  <div class="row gx-5">
    <div class="col">
     <div class="m-3 p-3 border bg-light">baingan bharta</div>
    </div>
    <div class="col">
      <div class="m-3 p-3 border bg-dark text-light">butter-chiken</div>
    </div>
  </div>
</div>

{% endblock body%}